button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    transition: all ;
}
button:hover{
    background-color:green;
}

h1{
    font-size:80px;
    font-family: "Bowlby One", sans-serif;
    font-weight: 900;
}
p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}